header-logo {
  .toolbar-background-ios, .toolbar-background-android {
    background-color: #fff !important;
  }

  .bar-button-default-ios, .bar-button-default-android {
    color: #000;
  }

  .toolbar-title-ios, .toolbar-title-android {
    color: #000;
  }


}
