page-signup {
  .toolbar-background-ios, .toolbar-background-android {
    background-color: #fff !important;
  }

  .bar-button-default-ios, .bar-button-default-android {
    color: #000;
  }

  .toolbar-title-ios, .toolbar-title-android {
    color: #000;
  }

  .signup:before{
    position: relative;
    display: inline-block;
    top: -15px;
    left: 50%;
    right: 0;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 18px;
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
    color: #b0b0b0;
    background-color: #fff;
    border: 2px solid #f0f0f0;
    z-index: 1;
    content: 'or';
  }

}
