social-login {
  .social-btn-fix{
    line-height: 34px;
    display: block;
    padding-right: 11px;
    //margin: 10%;
  }

  .social-login{
    padding: 10%;
    width: 100%;
    background-color: #f0f0f0;
  }
}
